/** base color config */
$base-black: #000000;
$base-white: #ffffff;
$base-trans: rgba(0, 0, 0, 0);

/** font color config */
$color-black--primary: #303133;
$color-black--normal: #606266;
$color-black--minior: #909399;
$color-black--placeholder: #C0C4CC;

/** borer color config */
$bdc-l-1: #DCDFE6;
$bdc-l-2: #E4E7ED;
$bdc-l-3: #EBEEF5;
$bdc-l-4: #F2F6FC;

/** type color config */
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;

/** base block config */
$base: #409EFF;
